<footer class="page-footer font-small elegant-color pt-4">
    <div class="container">
        <!-- Footer Feature Images -->
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="/assets/images/feature/feature1.jpg" class="img-fluid" alt="">
                    <a href="https://instagram.com/mcmastercs">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="/assets/images/feature/feature2.jpg" class="img-fluid" alt="">
                    <a href="https://instagram.com/mcmastercs">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="/assets/images/feature/feature3.jpg" class="img-fluid" alt="">
                    <a href="https://instagram.com/mcmastercs">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="/assets/images/feature/feature4.jpg" class="img-fluid" alt="">
                    <a href="https://instagram.com/mcmastercs">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="/assets/images/feature/feature5.jpg" class="img-fluid" alt="">
                    <a href="https://instagram.com/mcmastercs">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="/assets/images/feature/feature6.jpg" class="img-fluid" alt="">
                    <a href="https://instagram.com/mcmastercs">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="http://mcmastercs.ca">McMaster CS Society</a>
    </div>
</footer>