{% include head.html %}

  <body class="bg-light">

    {% include navigation.html %}
    
    <div class="jumbotron" >
      <div class="row justify-content-center">
        <div class="col-sm-6 py-3">
          {% for event in site.data.events %}
          {% if event.title == page.event %}
          <h1 class="display-4">{{ event.title }}</h1>
          <p class="lead">{{ event.tagline }}</p>
          <hr class="my-4">
          <p class=""><strong>{{ event.description }}</strong></p>
          <p>{{ event.date }} <br /> {{ event.time }} <br /> {{ event.location }}</p>
          <a class="btn btn-lg btn-outline-info" href="/events.html" role="button">Learn more</a>
          {% endif %}
          {% endfor %}
        </div>

        <div class="col-sm-4 py-3">
          {% for member in site.data.team %}
          {% if member.name == page.team-member %}
          <div class="card bg-gradient-success" style="width: 18rem;">
              <img src= {{member.photo}} class="card-img-top rounded-circle w-75 mt-3 d-block mx-auto" alt={{member.name}}>
              <div class="card-body text-light">
                  <h5 class="card-title"> {{member.name}}</h5>
                  <p class="card-text">{{member.bio}}</p>
                  <a href="/about.html" class="btn btn-outline-light">Meet the Team!</a>
              </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>         
      </div>
    </div>        



    <div class="row justify-content-center">
      <div class="col-8">
      <h2 class="text-center text-muted">Quick Updates!</h2>
      <hr class="my-4">
      {{ content }}
    </div>
  </div>
    {% include footer.html %}
  
  </body>
</html>