{% include top.html %}

<!-- What's happening / Quick Updates -->
<section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
    <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
            <img src="/assets/images/cssLogo.png" class="img-fluid" style="width:40%;" alt="">
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0">
            <h3 class="font-weight-bold">CS Events</h3>
            <p class="font-weight-bold">What's happening now?</p>
            <h5>{{ page.event_name }}</h5>
            <p class="text-black-50">{{ page.event_date }}</p>
            <p class="text-muted">{{ content }}</p>
            <a class="font-weight-bold" href="{{ page.button }}">{{ page.btn_text }}<i
                    class="fas fa-angle-right ml-2"></i></a>
        </div>
    </div>
</section>

<!-- Past Events -->
<section class="p-md-3 mx-md-5 text-center text-lg-left">
        <h2 class="text-center mx-auto font-weight-bold mb-4 pb-2">Past Events</h2>
        <div class="row">
    
            {% for event in site.data.events %}
    
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4"><a class="team-link" href="{{ event.link }}" target="_blank">
                    <div class="p-4">
                        <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                            <img src="/assets/images/events/{{ event.photo }}" class="img-fluid  z-depth-1" />
                        </div>
                        <div class="text-center mt-3">
                            <h6 class="font-weight-bold pt-2">{{ event.name }}</h6>
                            <p class="text-muted">
                                <small><i>{{ event.description }}</i></small>
                            </p>
                        </div>
                    </div>
                </a></div>
            {% endfor %}
        </div>
    </section>

{% include bottom.html %}